@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');
body {
    background-color: #ffe316;
    /* margin: 1rem 1rem; */
    font-family: 'Nova Round', cursive;
    margin: 0px;
}

:root {
    --primary-color: rgba(59, 130, 246);
}

.header {
    background-color: var(--primary-color);
    text-align: center;
    
}

.contain-body {
    background-image: url(/image/minion-img.jpg);
    background-size: cover;
    
}

.container {
    display: block;
    padding: 0.5rem 0.5rem;
    margin: auto;
    text-align: center;
    font-size: larger;
    
}
.container p{
    margin-top: 0px;
}

.container-center {
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 0.5rem 0.5rem;
}


/* text area */

#input-txt {
    padding: 1rem 1rem;
    height: 16vh;
    width: 70%;
    max-width: 500px;
    border: 2px solid black;
    
}


/* button */

#btn {
    width: 30%;
    height: 5vh;
    border-radius: 20%;
    /* margin: auto; */
    margin-bottom: 0rem;
    font-weight: bold;
    
}


.output {
    border: 4px solid black;
    box-sizing: border-box;
    height: 20vh;
    width: 80%;
    max-width: 70vh;
    padding: 1rem 1rem;
    margin: auto;
    font-size: larger;
    margin-top: 0rem;
    margin-bottom: 1rem;
    background-color: white;
}

.footer {
    
    background-color: var(--primary-color);
}